/* Make avatar square */
.author__avatar img {
  border-radius: 0 !important; /* square */
  object-fit: cover;
}

body, p, li, blockquote,
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif !important;
}