---
---
/* Avatar as square */
.author-profile img.avatar {
  border-radius: 0 !important;   /* remove any rounding */
  object-fit: cover;             /* fill the square container */
  width: 150px;                  /* adjust size as you like */
  height: 150px;
}
/* assets/css/custom.scss */

/* Override theme fonts */
body, p, li, blockquote, .page__content,
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif !important;
}